/* Master Styles */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: auto;
  width: 80%;
  /* background-color: #F3F6FD; */
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

a {
  text-decoration: none;
  color: #BBD8DC;
  cursor: pointer;
  cursor: hand;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}


/* Add new word */

#add-component {
  /* float: right; */
  clear: both;
}

#add-component input, #add-component select {
  width: 150px;
  height: 26px;
  border-radius: 15px;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
  color: #777777;
  border: 1px solid #eeeeee;
}


/* Navigation link styles */

.nouns-a {
  background-color: #E7A8C6;
}

.verbs-a {
  background-color: #B5D9CC;
}

.adjs-a {
  background-color: #FDD483;
}

nav a {
  width: 20%;
  font-size: 20px;
  line-height: 40px;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  color: #FFF!important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  /* font-weight: bolder; */
  font-size: 24px;
  line-height: 40px;
}

nav a.active {
  color: #039be5;
}

.words-box {
  border: 1px solid #eee;
}


/* everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}