li {
  list-style: none;
  font-size: 16px;
  color: #fff;
  display: inline;
  margin: 20px 10px;
}

.hid {
  background-color: #EEE !important;
  padding: 5px 10px;
}

.henglish {
  display: inline-block;
  background-color: #BBD8DC !important;
  line-height: 100px;
  font-size: 20px;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 3px -3px 3px #DDDDDD;
}

.hexplain, .htype {
  color: #607D8B;
}

.selected {
  color: #607D8B;
}

.delete-btn {
  width: 100px;
  position: relative;
  top: 35px;
  left: -104px;
}